* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 0.14fr 0.70fr 0.16fr;
    width: 100%;
    height: 60px;
}

#title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

#titleText {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    color: #5e5d5d;
}

#titleImage {
    height: 35px;
    width: 35px;
}

#headerMid {
    display: flex;
    align-items: center;
}

#headerSearch {
    height: 55%;
    width: 63%;
    border-radius: 0.3rem;
    border: 1px rgba(128, 128, 128, 0.4) solid;
    padding-left: 0.5rem;
    margin-left: 10px;
}

#userSection {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding-right: 1rem;
}

#userText {
    color: rgb(87, 87, 87);
    font-weight: 600;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

#userImage {
    height: 45px;
    width: 45px;
    background-color: yellow;
    border-radius: 30%;
    object-fit: cover;
}

#mainContent {
    display: grid;
    grid-template-columns: 14.5% 85.5%;
}

#menu{
    height: 30px;
    position: absolute;
    width: 190px;
    height: 420px;
    margin-left: 10px;
    margin-right: 10px;
    grid-column-start: 1;
}

#menuList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#menuList a {
    border-radius: 10px;
    text-decoration: none;
}

#menuList a:hover{
    background-color: #4E5D78;
}

#menuList a li {    
    height: 40px;
    width: 190px;
    padding: 10px 15px 10px 20px;
    color: grey;
    display: flex;
    font-weight: bold;
    gap: 0.3rem;
}

#menuList a li:hover{
    color: white;
}

.spacing{
    margin-right: 10px;
}

.fa-border-all{
    margin-right:10px
}

.feed-1{
    width: 99%;
    background-color: rgba(136, 136, 136, 0.103);
    border-radius: 20px;
    padding: 30px;
    grid-column-start: 2;
} 

.settings{
    height: 700px;
    border-radius: 20px;
    background-color: white;
    display: flex;
}

.options{
    width: 300px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
}

.sub-option{
    height: 50px;
    padding: 15px;
    padding-left: 0px;
    color: rgb(97, 97, 97);
    border-bottom: 2px solid rgba(160, 160, 160, 0.24);
    background-color: transparent;
}

.sub-option i{
    width: 20px;
    padding-left: 5px;
    margin-right: 10px;
}

.password-security{
    font-weight: bold;
}

.pass-sec-main{
    width: 100%;
    padding-left: 35px;
    border-left: 2px solid rgba(160, 160, 160, 0.24);
    background-color: transparent;
}

.pass-sec-txt{
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(95, 95, 95);
    font-weight: bold;
}

.logged-devices{
    width: 90%;
    height: 230px;
}

.sub-log-dev{
    display: flex;
    justify-content: space-around;
}

.device{
    width: 390px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px rgba(141, 141, 141, 0.2);
}

.device-img img{
    width: 80px;
    height: 80px;
}

.device-info{
    padding: 13px;
}

.app-sa{
    font-size: 15px;
    margin-top: 20px;
    display: flex;
}

#see-all{
    border: none;
    font-weight: bold;
    color: rgb(80, 123, 241);
    background-color: transparent;
    cursor: pointer;
}

.change-password{
    color: rgb(95, 95, 95);    
}

.cp-title{
    font-weight: bold;
    margin: 30px 0px 10px 0px;
}

.change-pass-txt{
    font-size: 15px;
    color: rgb(95, 95, 95);
    margin-bottom: 10px;
}

#pass{
    width: 55%;
    height: 35px;
    border: 2px solid rgba(160, 160, 160, 0.24);;
    border-radius: 8px;
    margin-bottom: 10px;
}

.change-password a{
    text-decoration: none;
    color: rgb(80, 123, 241);
}

.save-btn{
    display: flex;
    justify-content: center;
}

#pass-save{
    width: 80px;
    height: 35px;
    color: white;
    font-weight: bold;
    padding-bottom: 2px;
    background-color: rgb(80, 123, 241);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
